body {
    font-family: Arial, sans-serif;
    background-image: url('fb01752b87d0d4e4c4d96c4f6a4f55a1.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
}

header h1 {
    font-size: 2.8em;
    color: #000000;
    margin: 0;
}

header p {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
}

.tracker,
.reminder {
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    background: rgb(173, 173, 173, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

.countdown {
    font-size: 1.8em;
    font-weight: bold;
    color: #000000;
}

.listbydaytime {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(173, 173, 173, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
}

.monthsllist {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.dayslist {
    text-align: center;
    width: 50%;
}